{% extends "base.html.twig" %}

{% block body %}
    <section class="container form-page">
        <h1>Ajouter une Consigne</h1>
        {{form_start(formAddConsigne)}}
        {{form_end(formAddConsigne)}}
    </section>

{% endblock %}