{% extends 'base.html.twig' %}

{% block title %} {{consigne}} {% endblock %}

{% block body %}

    <section class="container">
        <div class="index-controls">
            <div>
                <h1>Détail de la consignes</h1>
            </div>
            <a class="button" href="{{ 'consigne/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>
        <article class="consigne-box">
            <figure>
            </figure>
             <p>
                 <strong>Libelle : </strong>
                 {{ consigne.libelle }}
             </p>
        </article>
    </section>

{% endblock %}