{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <main class="container">
        <h1>Liste des élèves de l'école</h1>
        
        {% for eleve in eleves %}
            <a href="{{ path('show_eleve', {'id':eleve.id}) }}">{{eleve}}</a><br>
        {% endfor %}
    </main>
    
{% endblock %}