{% block contact%}
<div class="contact">
    <p>
        <span>En cas de soucis</span><br>
        **Conditions énoncées pour contacter**
    </p>
    <a class="button" href="mailto:admin@admin.com">Contacter l'administrateur</a>
</div>
{% endblock %}