{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <main>
    <section class="container">
        {# {% if app.user %}
            <h1>Bienvenue <span class="text-primary">{{app.user.pseudo}}<span></h1>
        {% else %}
            <h1>Bienvenue sur Sophi</h1>
        {% endif %}#}
        <h1>Bienvenue sur Sophii</h1>
        <h2>L'Ent des écoles maternelle</h2>
    </section>
    <main>

{% endblock %}