{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div class="magic-bg"></div>
        <section class="container">
            <div class="logout-home">
                <h1>Bienvenue sur Sophii</h1>
                <p>L'Ent des écoles maternelle</p>
                <div class="contact flex wrap">
                    <a class="button mr-2 m-350-0" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="button" href="{{ path('app_register') }}">S'inscrire</a>
                </div>
            </div>
        </section>

    <footer class="absolute bottom">
        {% include "navigation/footer.html.twig" %}
    </footer>
{% endblock %}