{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<main>
    <h1>Bonjour!</h1>

    Bienvenue sur votre espace numerique Sophie

</main>
{% endblock %}
