{% extends 'base.html.twig' %}

{% block title %} Détail de la {{competence}} {% endblock %}

{% block body %}

    <section class="container">
        <h1>Détail de {{competence}}</h1>
        <p>
            Libelle : {{competence.libelle}} <br>
            Validée : {{competence.getAcquisition()}} <br>
        </p>


        <hr>


    </section>

{% endblock %}