{% extends "../../templates/base.html.twig" %}

{% block body %}
    <div class="container form-page">
        <h1>Ajouter un Bulletin</h1>
        {{form(formAddBulletin)}}
    </div>

{% endblock %}