{% extends '../../templates/base.html.twig' %}

{% block title %} Détail du {{bulletin.eleve}} {% endblock %}

{% block body %}

    <section class="container">
            <div>
                {{bulletin.eleve}}
            </div>
    </section>

{% endblock %}