/*button*/
.button, button {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 1rem 3rem;
    background: var(--bgbutton);
    color: var(--white);
    font-weight: bold;
    text-decoration: transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.2);
}

.btn-small {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 7px;
    margin: .5rem;
}

.button:hover, button:hover{
    background: var(--bgimportant);
    color: #fff;
}

/*onglet contact*/

.contact {
    margin: 2rem 0 0;
}

.contact p {
    line-height: 2rem;
    margin-bottom: 1rem;
}

.contact p span {
    font-weight: bold;
    font-size: 1.5rem;
}

/*fil d'ariane*/

.fil-ariane {
    font-weight: normal;
    color: var(--primary);
}

.fil-ariane>span{
    color: var(--dark)
}

.fil-ariane span>span{
    font-weight: bold;
    font-size: 1.2rem
}

.btn-delete {
    color: var(--error);
    border: solid 1px var(--error);
    background: transparent;
}

.btn-delete:hover {
    color: var(--white);
    border: solid 1px var(--error);
    background: var(--error);
}

.btn-update {
    color: var(--success);
    border: solid 1px var(--success);
    background: transparent;
}

.btn-update:hover {
    color: var(--white);
    border: solid 1px var(--success);
    background: var(--success);
}

/**/

.alert {
    width: 100%;
    padding: 1rem;
    text-align: center;
    animation: fadeIn 5s;
}
.alert-success {
    background: #93eabf;
    color: #3e6453;
}

.alert-danger, .alert-warning  {
    background: #efb353;
    color: #b04908;
}

@keyframes fadeIn {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    20% {
        transform: scaleY(1);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

/* les boxes de controls*/

.index-controls {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.index-controls .button{
    height: fit-content;
    padding: 1rem;
    font-size: 0.8rem;
}

/*les boutons en absolute*/

.btn-absolute-parent {
    position: relative;
}

.btn-top {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
}
