/*color*/
:root {
    --primary: rgb(26, 117, 111);
    --secondary: #eef8f7;
    --background: #e7f3f2;
    --teriary: #d3e5e4;
    --important: #D56A37;
    --success: #16ACA3;
    --warning: #DEBE6A;
    --error: #e86565;
    --info: #e7f3f2;
    --light: #c3fdf9;
    --hellgray: #b9c0c0;
    --gray: #60706f;
    --dark: #1f1f1f;
    --black: #000;
    --white: #fff;
    --vive: #ea2257;
    --terne: #251654;
    --douce: #EEAA9E;
    --lumière: #FBBF24;
    --boxshadow: 0 0 20px rgba(162, 164, 164, 0.2);
    --bgprimary: linear-gradient(var(--primary), hsl(174, 57%, 15%));
    --bgbutton: linear-gradient(var(--primary), hsl(175, 50%, 22%));
    --bgsecondary: linear-gradient(var(--secondary), hsl(171, 38%, 89%));
    --bgimportant: linear-gradient(var(--important), hsl(20, 66%, 43%));
}