/*color*/
:root {
    --primary: #717C7C;
    --secondary: #eeeeee;
    --teriary: #F4F1F1;
    --success: #6ea488;
    --warning: #d9bd88;
    --error: #B88787;
    --info: #778cb6;
    --light: #e4ffff;
    --dark: #000;
    --black: #000;
    --wight: #fff;
}