
.fil-ariane {
    font-size: 1rem;
}
.feuille-route-titre {
    width: 100%;
    display: flex;
    align-items: center;
}

.activite-statut {
    max-width: 500px;
    height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.activite-statut li{
    background: var(--light);
    color: var(--primary);
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    border-radius: 7px;
}

.table-feuille-route {
    width: 100%;
    background: var(--secondary);
    text-align: center;
    max-width: 900px;
    overflow: hidden;
}


.table-feuille-route tbody{
    background: var(--white);
}

tr:nth-child(even){
    background: var(--light);
}

.table-feuille-route th {
    padding: 1rem 0.5rem;
}

.table-feuille-route td {
    padding: 0.5rem;
    overflow-wrap: break-word;
}

.table-feuille-route a {
    color: var(--dark);
    text-decoration: underline;
}

.table-feuille-route a, td {
    font-size: 1rem;
}