
.homebox {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}

.homecard {
    padding: 10vh 1rem;
    background: var(--secondary);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homecard a {
    color: #000;
    text-decoration: transparent;
}

.homecard:hover {
    background: var(--primary);
}

.homecard:hover a {
    color: #fff;
}

.logout-home {
    width: 100%;
    padding: 3rem 0 0 0;
}


.magic-bg {
    width: 100%;

    position: absolute;
    z-index: -1000;
    background: blue;
}