/*reset*/

*{
    font-family: 'Inter', sans-serif;
}

ul, ol, li {
    margin: 0;
    list-style-type: none;
}



body {
    display: flex;
}

/*Navbar panel*/
header {
    flex-grow: 1;
    height: 95vh;
    background: var(--secondary);
    padding: 2rem 1rem 0 2rem;
}

.navpanel {
    width: 15vw;
    height: 85%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navpanel ul:first-child {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*composant body*/

main {
    flex-grow: 5;
    padding-left: 1rem;
}

/*Navbar page*/
.navbar {
    display: flex;
    z-index: 10;
}

/*element décoratif ??*/
.navbar hr{
    flex-grow: 2;
    border: none;
}

.navbar ul{
    background: var(--secondary);
    padding: 1rem 3rem;
    flex-grow: 1;
    border-radius: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    width: fit-content;
    padding: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--black);
}