/*import*/
/*1-le normalize*/
@import url("normalize.css");
/*2-les variables des couleurs*/
@import url("color.css");
/*3-la navbar*/
@import url("navbar.css");
/*4-les homes*/
@import url("home.css");
/*liste des élèves*/
@import url("classe.css");
/*activites*/
@import url("activite.css");
/*feuille de route*/
@import url("feuille_route.css");

/*reset*/

p, a {
    font-size: 1.2rem;
}

ul, p, img, figure {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*GENERAUX*/

.container {
    padding: 1rem 4rem;
}

/*fil d'ariane*/

.fil-ariane {
    font-weight: normal;
    color: var(--primary);
}

.fil-ariane>span{
    color: var(--dark)
}

.fil-ariane span>span{
    font-weight: bold;
    font-size: 1.3rem
}

/**/

.alert {
    width: 100%;
    padding: 1rem;
    text-align: center;
    animation: fadeIn 5s;
}
.alert-success {
    background: #93eabf;
    color: #3e6453;
}

.alert-danger, .alert-warning  {
    background: #efb353;
    color: #b04908
}

@keyframes fadeIn {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    20% {
        transform: scaleY(1);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}
