/*import*/
/*le normalize*/
@import url("normalize.css");
/*les variables des couleurs et utils*/
@import url("color.css");
@import url("utils.css");
/*la navbar*/
@import url("navbar.css");
/*le footer*/
@import url("footer.css");
/*les form*/
@import url("form.css");
/*les button et hover*/
@import url("button.css");
/*les button et hover*/
@import url("icons.css");
/*les homes*/
@import url("home.css");
/*liste des élèves*/
@import url("classe.css");
/*activites*/
@import url("activite.css");
/*feuille de route*/
@import url("feuille_route.css");
/*feuille mediaqueries*/
@import url("mediaqueries.css");
/*reset*/

body {
    width: 100%;
    height: fit-content;
}

body, main, .wrapper {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

p, a {
    font-size: 1.2rem;
}

ul, p, img, figure {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*GENERAUX*/

.container {
    padding: 1rem 4rem;
}

