
.fil-ariane {
    font-size: 1rem;
}
.feuille-route-titre {
    width: 100%;
    display: flex;
    align-items: center;
}

.activite-statut {
    max-width: 500px;
    height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.activite-statut li{
    background: var(--secondary);
    color: var(--primary);
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    border-radius: 7px;
}

.table {
    width: 100%;
    background: var(--teriary);
    text-align: center;
    overflow: hidden;
}


.table tbody{
    background: var(--background);
}

tr:nth-child(even){
    background: var(--secondary);
}

.table th {
    padding: 1rem 0.5rem;
}

.table td {
    padding: 0.5rem;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td > .button {
    margin: .2rem;
}

.table thead tr,
.table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .taille-1{
    flex: 1;
}


.taille-2{
    flex: 2;
}

 .taille-3{
    flex: 3;

}

td ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

td ul li {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pills {
    display: inline-block;
    color: var(--white);
    background: var(--vive);
    padding: .2rem .5rem;
    border-radius: 15px;

}

@media (max-width: 1169px) {

    .table thead tr th:nth-child(2),
    .table thead tr th:nth-child(3),
    .table thead tr th:last-child {
        display: none;
    }

    td ul {
        width: 100%;
        flex-direction: column;
    }

    td ul li{
        margin: 0.5rem 0;
    }
}

@media (max-width:619px) {
    .table tbody tr{
        flex-direction: column;
    }
}
