
.fil-ariane {
    font-size: 1rem;
}
.feuille-route-titre {
    width: 100%;
    display: flex;
    align-items: center;
}

.activite-statut {
    max-width: 500px;
    height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.activite-statut li{
    background: var(--secondary);
    color: var(--primary);
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    border-radius: 7px;
}

.table {
    width: 100%;
    background: var(--teriary);
    text-align: center;
    overflow: hidden;
}


.table tbody{
    background: var(--background);
}

tr:nth-child(even){
    background: var(--secondary);
}

.table th {
    padding: 1rem 0.5rem;
}

.table td {
    padding: 0.5rem;
    overflow-wrap: break-word;
    font-size: 1rem;
}

.table tbody tr>td:first-child a {
    font-size: 1rem;
    text-decoration: underline;
    padding: 1rem;
}