{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}
    <main class="container">
        <h1>Mes parents</h1>
        
        {% for eleve in eleves %}
            <a href="{{eleve}}"</a><br>
        {% endfor %}
    </main>
    
{% endblock %}