{% extends "../../../templates/base.html.twig" %}

{% block body %}
    <div>
        <h1>Ajouter une famille</h1>
        {{form_start(formAddFamille)}}
        {{form_end(formAddFamille)}}
    </div>

{% endblock %}