{% extends "base.html.twig" %}

{% block body %}
    <section class="container form-page">
        <h1>Ajouter une feuille de route</h1>
        {{form(formAddFeuilleRoute)}}
    </section>

{% endblock %}