{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des classes de l'école</h1>
        
        {% for classe in classes %}
            <a href="{{ path('show_classe', {'id': classe.id}) }}">{{classe}}</a><br>
            <a class="" href="{{ path('update_classe', {'id': classe.id}) }}">Éditer</a>
            <a class="" href="{{ path('delete_classe', {'id': classe.id}) }}">Delete</a> <br>
        {% endfor %}
    </div>
    
{% endblock %}