<ul>
    <li>
        <a href="{{ path('app_home') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('show_user', {'id': app.user.id}) }}">Mon profil</a>
    </li>
    <li>
        <a href="{{ path('app_activite') }}">Activite</a>
    </li>
    <li>
        <a href="{{ path('app_feuille_route') }}">Feuille de routes</a>
    </li>
</ul>
