<ul>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-house"></i></span>
        <a href="{{ path('app_home') }}">Home</a>
    </li>
    <li>
         <span class="navpanel-icon"><i class="fa-solid fa-people-roof"></i></span>
        <a href="{{ path('app_classe') }}">Voir ma classe</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-shapes"></i></span>
        <a href="{{ path('app_activite') }}">Voir mes activités</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-map"></i></span>
        <a href="{{ path('app_feuille_route') }}">Mes feuilles de route</a>
    </li>

</ul>


