<ul>
    <li>
        <a href="{{ path('app_home') }}" title="Lien vers la home">
            <span class="navpanel-icon"><i class="fa-solid fa-house"></i></span>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="{{ path('show_ma_classe', {id: app.user.classe.id})}}" title="Lien vers ma classe">
            <span class="navpanel-icon"><i class="fa-solid fa-people-roof"></i></span>
            <span>Voir ma classe</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_activite') }}" title="Lien vers mes activité">
            <span class="navpanel-icon"><i class="fa-solid fa-shapes"></i></span>
            <span>Voir mes activités</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_feuille_route') }}" title="Lien vers mes feuille de routes">
            <span class="navpanel-icon"><i class="fa-solid fa-map"></i></span>
            <span>Mes feuilles de route</span>
        </a>
    </li>

</ul>


