<aside id="sidebar" class="sidebar collapse nav-none">
    <span title="button collapse" id="btnCollapse" class="collapse-btn" onclick="navCollapse()">
        <i class="fa-solid fa-angle-left"></i>
    </span>
    <span title="nav-resp-close" id="nav-resp-close" class="nav-resp-close" onclick="navNone()">
        <i class="fa-solid fa-xmark"></i>
    </span>

    <nav class="navpanel">
        {% if is_granted('ROLE_ADMIN') %}
            {% include "navigation/_paneladmin.html.twig" %}
        {% elseif is_granted('ROLE_ENS') %}
            {% include "navigation/_panelens.html.twig" %}
        {% elseif is_granted('ROLE_PARENT') %}
            {% include "navigation/_panelparent.html.twig" %}
        {% endif %}
        <ul class="connexion">
            {% if app.user %}
                <li>
                    <a href="{{ path('show_user', {'id': app.user.id}) }}">
                        <span class="connexion-icon"><i class="fa-solid fa-circle-user"></i></span>
                        <span>Profil</span>
                    </a>
                </li>
                <li>

                    <a href="{{ path('app_logout') }}">
                        <span class="connexion-icon"><i class="fa-solid fa-power-off"></i></span>
                        <span>Déconnexion</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>
