       <aside class="sidebar">
    <nav class="navpanel collapse">
        {% if is_granted('ROLE_ADMIN') %}
            {% include "navigation/_paneladmin.html.twig" %}
        {% elseif is_granted('ROLE_ENS') %}
            {% include "navigation/_panelens.html.twig" %}
        {% elseif is_granted('ROLE_PARENT') %}
            {% include "navigation/_panelparent.html.twig" %}
        {% endif %}
        <ul class="connexion">
            {% if app.user %}
                <li>
                    <a href="{{ path('show_user', {'id': app.user.id}) }}">
                        <span class="connexion-icon"><i class="fa-solid fa-circle-user"></i></span>
                        <span>Profil</span>
                    </a>
                </li>
                <li>

                    <a href="{{ path('app_logout') }}">
                        <span class="connexion-icon"><i class="fa-solid fa-power-off"></i></span>
                        <span>Déconnexion</span>
                    </a>
                </li>
            {% endif %}
            {% if not app.user %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <span class="connexion-icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                        <span>Se connecter</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_register') }}">
                        <span class="connexion-icon"><i class="fa-solid fa-pen"></i></span>
                        <span>S'inscrire</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>
