
.homebox{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}

.homecard {
    padding: 8vh 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px rgba(180, 179, 179, 0.2)
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5 {
    background-size: 100%;
    backdrop-filter: brightness(.8);
}

/*card background*/
.bg-1 {
    background: url("../img/clair/clair-1.png");
}

.bg-1:hover {
    /*background: url("../img/colore/colore-1.png");*/
    background:url("../img/vert/vert-1.png");
}

.bg-2 {
    background:url("../img/clair/clair-2.png");
}

.bg-2:hover {
    /*background:url("../img/colore/colore-2.png");*/
    background:url("../img/vert/vert-2.png");
}

.bg-3 {
    background:url("../img/clair/clair-3.png");
}

.bg-3:hover {
    /*background:url("../img/colore/colore-3.png");*/
    background:url("../img/vert/vert-3.png");
}

.bg-4 {
    background:url("../img/clair/clair-4.png");
}

.bg-4:hover {
    /*background:url("../img/colore/colore-4.png");*/
    background:url("../img/vert/vert-4.png");
}

.bg-5 {
    background:url("../img/clair/clair-5.png");
}

.bg-5:hover {
    /*background:url("../img/colore/colore-5.png");*/
    background:url("../img/vert/vert-5.png");
}


.homecard p {
    color: #000;
    text-decoration: transparent;
    text-align: center;
    text-shadow: 2px 2px 100px #e5ecfa;
}

.homecard:hover p {
    color: #fff;
    text-shadow: 2px 2px 50px #012d25;
}

.logout-home {
    width: 100%;
    padding: 3rem 0 0 0;
}


.magic-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    opacity: 0.8;
    background-image:  radial-gradient(#8af6be 1px, transparent 0.5px), radial-gradient(#5eb689 1px, #fff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
