
.homebox{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}

.homecard {
    padding: 8vh 1rem;
    background: var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px rgba(180, 179, 179, 0.2)
}

.homecard p {
    color: #000;
    text-decoration: transparent;
    text-align: center;
}

.homecard:hover {
    background: var(--primary);
}

.homecard:active {
    background: var(--important);
}

.homecard:hover p {
    color: #fff;
}

.logout-home {
    width: 100%;
    padding: 3rem 0 0 0;
}


.magic-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    opacity: 0.8;
    background-image:  radial-gradient(#8af6be 1px, transparent 0.5px), radial-gradient(#5eb689 1px, #fff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
