.listbox {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}
.listcard {
    padding: 1rem;
    background: var(--secondary);
    border: 1px solid var(--teriary);
    border-radius: 20px;
    box-shadow: 2px 3px 5px rgba(180, 179, 179, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listcard ul{
    margin-bottom: 1rem;
}

.listcard ul li a:first-child {
    font-size: 1.5rem;
    line-height: 2.8rem;
    position: relative;
    color: var(--primary);
}

.listcard ul li span {
    color: var(--gray);
}

.listcard-controls {
    display: flex;
    flex-wrap: wrap;
}

.listcard-controls a {
    margin: 0 0.5rem 0.5rem 0;
}

.listcard-button {
    padding: 0.6rem;
    font-size: 0.8rem;
    border-radius: 10px;
    align-self: flex-end;
    box-shadow: inherit;
}