/*mediaqueries*/

@media (min-width: 1400px) {

    /*home.css, listPage.css, competence.css*/
    .homebox,
    .listbox,
    .activite-box{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }
    /*----------------*/

    /*----------------*/
    /*user.css*/
    .user-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*--------------------*/
      .activite-box,
      .gc-box{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*competences.css*/
    .card-competence figure{
        height: 200px;
    }


}

@media (max-width: 1268px) {
    /*----------------*/
    /*user.css*/
    .user-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    .activite-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

}

@media (max-width: 1048px) {
    /*profil.css*/
    .fiche-info-contenu ul {
        min-width: 200px;
        padding: 0 1rem;
        flex: 1;
    }

    .profil-enfant{
        width: 100%;
        margin-bottom: 0;
    }

    .profil-classe{
        width: 100%;
        margin-left:0;
        margin-top: 0;
    }

    .show-resp {
        display: inline;
    }

    .hide-resp {
        display: none;
    }

}

@media (max-width: 922px) {
    /*home.css*/
    .homebox {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }
    /*----------------*/

    /* listPage.css*/
    .listbox {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }
    /*----------------*/

    /*user.css*/
    .user-box {
        max-width: 400px;
        margin: 0 auto;
        padding: 1rem 0;
        display: block;
    }

    .card-user,
    .card-user-unlink{
        margin-bottom: 2rem;
    }

    /*---------------------*/

    /*competences.css*/
    .gc-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media (max-width: 768px) {

    /*home.css, listPage.css, activite, competences.css*/
    .homebox,
    .listbox,
    .activite-box,
    .gc-box
    {
        padding: 1rem 0;
        display: block;
    }

    .homecard,
    .listcard,
    .activite-card,
    .card-competence{
        margin-bottom: 2rem;
    }
    /*----------------*/
    /*competences.css*/
    .card-competence figure{
        height: 200px;
    }

}

@media (max-width: 420px) {

    /*utils.css*/
    .m-350-0 {
        margin: 0;
    }
    /*----------------*/

    /*competence.css*/
    .card-competence-controls{
        flex-wrap: wrap;
    }
}
