/*mediaqueries*/

@media (min-width: 1400px) {

    /*home.css, listPage.css, competence.css*/
    .homebox,
    .listbox,
    .activite-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*----------------*/
    /*----------------*/
    /*user.css*/
    .user-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*--------------------*/
    .activite-box,
    .gc-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*competences.css*/
    .card-competence figure {
        height: 200px;
    }


}

@media (max-width: 1268px) {
    /*----------------*/
    /*user.css*/
    .user-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    .activite-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

}

@media (max-width: 1048px) {
    /*profil.css*/
    .fiche-info-contenu ul {
        min-width: 200px;
        padding: 0 1rem;
        flex: 1;
    }

    .profil-enfant {
        width: 100%;
        margin-bottom: 0;
    }

    .profil-classe {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .show-resp {
        display: inline;
    }

    .hide-resp {
        display: none;
    }

}

@media (max-width: 922px) {
    /*home.css*/
    .homebox {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*----------------*/
    /* listPage.css*/
    .listbox {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }

    /*----------------*/
    /*user.css*/
    .user-box {
        max-width: 400px;
        margin: 0 auto;
        padding: 1rem 0;
        display: block;
    }

    .card-user,
    .card-user-unlink {
        margin-bottom: 2rem;
    }

    /*---------------------*/
    /*competences.css*/
    .gc-box {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media (max-width: 768px) {

    /*navbar.css : la nav Responsive !! */
    /* en mobile*/
    .navbar > .nav-desktop {
        display: none;
    }

    /* j'affiche le bouton*/
    .navbar > .nav-mobile {
        display: flex;
    }


    /*je redimensionne la sidebar*/
    .sidebar {
        position: fixed;
        z-index: 1000;
        width: 100vw;
        transition: width 0.3s;
    }



    .nav-none {
        display: none;
    }

    .nav-show {
        display: block;
    }

    .sidebar ul li a {
        display: flex;
        align-items: center;
    }

    .sidebar ul li span:last-child {
        width: fit-content;
        height: fit-content;
        font-size: 1.5rem;
        margin-left: 0.8rem;
        margin-top: -0.5rem;
        opacity: 1;
        transition: opacity .5s linear .5s;
    }

    .collapse .navpanel-icon,
    .collapse .connexion-icon {
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
    }

    .connexion {
        position: fixed;
        bottom: 5rem;
    }

    .collapse-btn {
        display: none;
    }

    .nav-resp-close {
        display: inline-block;
        position: absolute;
        left: 80%;
    }


    /*--------------*/
    /*user.css*/
    .profil-mini h1 {
        font-size: 1.8rem;
    }

    /*----------------*/
    /*home.css, listPage.css, activite, competences.css*/
    .listbox,
    .activite-box,
    .gc-box {
        padding: 1rem 0;
        display: block;
    }

    .listcard,
    .activite-card,
    .card-competence {
        margin-bottom: 2rem;
    }

    /*home.css*/
    .homecard {
        min-width: 80px;
        padding: 4vh 0.5rem;
        border-radius: 20px;
    }


    /*----------------*/
    /*competences.css*/
    .card-competence figure {
        height: 200px;
    }

    /*------------------*/
    /*user.css*/
    .profil-mini {
        display: block;

    }

}

@media (max-width: 420px) {

    /*navbar*/
    .container {
        max-width: 98%;
        margin: 0 auto;
        /*propriete dans reset.css*/
        padding: 1rem;
    }
    /*----------------*/

    /*home.css*/

    .homecard p{
        font-size: 0.9rem;
        font-weight: 500;
    }
    /*----------------*/

    /*utils.css*/
    .m-350-0 {
        margin: 0;
    }

    /*----------------*/
    /*competence.css*/
    .card-competence-controls {
        flex-wrap: wrap;
    }
}
