
.fiche-info {
    background: var(--secondary);
    margin: 1rem 0;
}

.fiche-profil,
.fiche-info-liste{
    width: 100%;
}


.fiche-info-titre {
    padding: 0.6rem 1rem;
}

.titre-profil{
    background: var(--primary);
    color: var(--white);
}

.titre-liste {
    background: var(--teriary);
    color: var(--black);
}

.fiche-info-titre h2{
    font-size: 1.1rem;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

.fiche-info-contenu {
    display: flex;
    flex-wrap: wrap;
}

.fiche-info-contenu ul {
    min-width: 200px;
    padding: 2rem 1rem;
    flex: 1;
}

.fiche-info-contenu li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.fiche-info-contenu li span:first-child {
    color: var(--gray);
    font-size: 0.9rem;
    text-transform: uppercase;
}

.fiche-info-liste {
    display: flex;
    flex-wrap: wrap;
}

.profil-enfant{
    width: 64%;
}

.profil-classe{
    width: 35%;
    margin-left:1%;
}