{% extends "base.html.twig" %}

{% block body %}
    <div class="container form-page">
        <h1>Ajouter un groupe de consigne</h1>
        {{form(formAddGroupeConsignes)}}
    </div>
{% endblock %}