{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <main class="container">
        <h1>Groupe de consignes</h1>

        {% for groupe in groupe_consignes %}
            <a href="{{ path('show_groupe_consignes', {'id': groupe.id}) }}">{{groupe}}</a> <br>
            <a class="" href="{{ path('update_groupe_consignes', {'id': groupe.id}) }}">Éditer</a>
            <a class="" href="{{ path('delete_groupe_consignes', {'id': groupe.id}) }}">Delete</a> <br>

        {% endfor %}
    </main>

{% endblock %}
