{% extends 'base.html.twig' %}

{% block title %}Liste des activites{% endblock %}

{% block body %}
    <div class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Liste des activités</span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Liste des activites</h1>
            </div>
            <a class="button" href="{{ 'activite/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>
        <article class="activite-box">
            {% for activite in activites %}
                <div class="activite-card">
                    <figure>
                        <img src="http://placekitten.com/300/300" alt="test"/>
                    </figure>
                    <a href="{{ path('show_activite', {'id':activite.id}) }}">{{activite.titre}}</a><br>
                </div>

            {% endfor %}
        </article>

    </div>

{% endblock %}
