{% extends 'base.html.twig' %}

{% block title %}Liste des activites{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des activites</h1>
        <a class="button" href="{{ 'activite/add' }}">Ajouter une activite</a>
        <article class="activite-box">
            {% for activite in activites %}
                <div class="activite-card">
                    <figure>
                        <img src="http://placekitten.com/300/300" alt="test"/>
                    </figure>
                    <a href="{{ path('show_activite', {'id':activite.id}) }}">{{activite.titre}}</a><br>
                </div>

            {% endfor %}
        </article>

    </div>

{% endblock %}
