{% extends 'base.html.twig' %}

{% block title %} Détail de {{activite}} {% endblock %}

{% block body %}

    <section class="container">
        <h1>Détail de {{activite}}</h1>
        <p>
            {{ activite.titre }}
        </p>
        <hr>


    </section>

{% endblock %}