{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <main class="container">
        <h1>Liste des enseignants de l'école</h1>
        
        {% for enseignant in enseignants %}
            {{ enseignant }} <br>
        {% endfor %}
    </main>
    
{% endblock %}