{% extends "base.html.twig" %}

{% block body %}
    <section class="container form-page">
        <h1>Ajouter un groupe de compétence</h1>
        {{form(formAddGroupeCompetences)}}
    </section>

{% endblock %}