{% extends 'base.html.twig' %}

{% block title %}Liste des groupes de competences{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des groupes de competences</h1>

         {% for groupe_competences in groupes_competences %}
             <a href="{{ path('show_groupe_competences', {'id': groupe_competences.id}) }}">{{groupe_competences}}</a><br>
             <a class="" href="{{ path('update_groupe_competences', {'id': groupe_competences.id}) }}">Éditer</a>
             <a class="" href="{{ path('delete_groupe_competences', {'id': groupe_competences.id}) }}">Delete</a> <br>
         {% endfor %}

    </div>

{% endblock %}