{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div id="toast" class="alert  alert-{{ label }}">
            <div>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}