{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div id="toast" class="alert alert-{{ label }}">
            <div class="toast-message">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}