{% extends "base.html.twig" %}

{% block body %}
    <div>
            <h1>Modifier vos données utilisateur</h1>
            {{form_start(formUpdateUser)}}
            {{form_end(formUpdateUser)}}
    </div>

{% endblock %}